/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

a.eventLink:link { color: #363636 }
a.eventLink:visited { color: #363636 }

body {
  /*color: #45828E;*/
  color: #494949;
  /*background-color: #A5ECFA;*/
  background-color: #d3d3d3;
  font-family: 'PT Sans', sans-serif;
}

/* Padding for ng-view */
.currentView {
  padding:30px;
  margin-top:30px;
}

/* homescreen text */
#homeText {
  width: auto;
  text-align: center;
  margin-top: 7%;
  /*text size and styling*/
  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
  letter-spacing: .5px
}

/* homescreen image */
#homeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* home button css */
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: #6b6b6b;
  background-image: -webkit-linear-gradient(top, #6b6b6b, #383738);
  background-image: -moz-linear-gradient(top, #6b6b6b, #383738);
  background-image: -ms-linear-gradient(top, #6b6b6b, #383738);
  background-image: -o-linear-gradient(top, #6b6b6b, #383738);
  background-image: linear-gradient(to bottom, #6b6b6b, #383738);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7a7a7a;
  background-image: -webkit-linear-gradient(top, #7a7a7a, #3d3c3d);
  background-image: -moz-linear-gradient(top, #7a7a7a, #3d3c3d);
  background-image: -ms-linear-gradient(top, #7a7a7a, #3d3c3d);
  background-image: -o-linear-gradient(top, #7a7a7a, #3d3c3d);
  background-image: linear-gradient(to bottom, #7a7a7a, #3d3c3d);
  text-decoration: none;
}



/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/


/* NavBar styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}









